.bookList {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  
  .bookList_Content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .title{
    align-self: center;
    font-size: 24pt;
  }
  .tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 60px;
    align-items: center;
    justify-content: center;
  }
}
