.popular{
    display: flex;
    justify-content: center;
    margin-bottom: 5vw;

    .popul_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    }

    .tiles{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    }

}

